.bg-featured {
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)),
    url('../src/assets/home/featured.jpg');
}

@tailwind base;
@tailwind components;
@tailwind utilities;